form.pure-form(action = action, method='GET', 'application/x-www-form-urlencoded')
  fieldset
    p=  question.q
    label.pure-radio
      input#1(type="radio", name = "answers", value= question.a1, required="required")
      | #{question.a1}
    label.pure-radio
      input#2(type="radio", name = "answers", value= question.a2, required="required")
      | #{question.a2}
    label.pure-radio
      input#3(type="radio", name = "answers", value= question.a3, required="required")
      | #{question.a3}
    label.pure-radio
      input#4(type="radio", name = "answers", value= question.a4, required="required")
      | #{question.a4}
    label.pure-radio
      input#5(type="hidden", name = "answers", value= question.a5, required="required")
    label.pure-radio
      input#6(type="hidden", name = "answers", value= question.a5, required="required")
    button.pure-button.notice#submit submit
//-question.a5= 'blah';
//-$('#5').attr('type', 'radio');
